<div class="modal-form">
  <div class="container">
    <div class="card border-primary mb-3 text-center" style="width: 500px;">
      <div class="card-header">New Post</div>
      <div class="card-body text-primary">
          <form action="/posts/create" method="post">
              <div class="form-group">
                  <input type="text" id="title" name="title" placeholder="Title" class="form-control">
              </div>
              <div class="form-group">
                  <input type="text" id="description" name="description" placeholder="Description" class="form-control">
              </div>
              <div class="form-group">
                  <input type="text" id="image_url" name="image_url" placeholder="Image" class="form-control">
              </div>

              <button type="submit" class="btn btn-outline-primary mt-5">Save</button>
              <a href="/posts" class="btn btn-primary mt-5">Cancel</a>
          </form>
      </div>
    </div>
  </div>
</div>  